<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <%= link_to "Services", '#services', class: "nav-link active", id: "home-tab", 'data-toggle': "tab", role: "tab", 'aria-controls': "home", 'aria-selected': "true"  %>
  </li>
  <li class="nav-item">
    <%= link_to "History", '#history', class: "nav-link", id: "profile-tab", 'data-toggle': "tab", role: "tab", 'aria-controls': "profile", 'aria-selected': "false"  %>
  </li>
  <li class="nav-item">
    <%= link_to "Create Service", '#create', class: "nav-link", id: "contact-tab", 'data-toggle': "tab", role: "tab", 'aria-controls': "contact", 'aria-selected': "false"  %>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="services" role="tabpanel" aria-labelledby="home-tab">
    <%= render 'shared/mycategories' %>
  </div>
  <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="profile-tab">
      <%  current_user.bookings_as_service.each do |booking| %>
        <% hours = booking.end_date - booking.start_date %>
        <% price = booking.category.price %>
        <div class="container-tab">
          <table style="width:100%", class="table-tab">
            <tr>
              <th class="th">Start Date</th>
              <th class="th">End Date</th>
              <th class="th">Total</th>
            </tr>
            <tr>
              <td><%= booking.formatted_start_date %></td>
              <td><%= booking.formatted_end_date %></td>
              <td><%= amount = price * hours  %></td>
            </tr>
          </table>
        </div>
      <% end %>
  </div>
  <div class="tab-pane fade" id="create" role="tabpanel" aria-labelledby="contact-tab">
    <div class="button-add-tab">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xs-12 col-sm-8">
            <%= render 'categories/form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




