<%= render 'shared/banner' %>
<div class="container-search">
  <div class="search">
    <p>Pick a Service</p>
  </div>
</div>



<div class="cards-home">
  <div class="card-category-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path("grandpa", height: 200, width: 200, crop: :fill)%>)">
    Grandpa
    <%= link_to "", categories_path(query: "Grandpa"), class: "card-link" %>
  </div>

  <div class="card-category-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path("teenager", height: 200, width: 200, crop: :fill)%>)">
    Teenager
    <%= link_to "", categories_path(query: "Teenager"), class: "card-link" %>
  </div>

  <div class="card-category-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path("kid", height: 100, width: 100, crop: :fill)%>)">
    Child
    <%= link_to "", categories_path(query: "Child"), class: "card-link" %>
  </div>

  <div class="card-category-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path("university", height: 200, width: 200, crop: :fill)%>)">
    University
    <%= link_to "", categories_path(query: "University"), class: "card-link" %>
  </div>

  <div class="card-category-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path("father", height: 200, width: 200, crop: :fill)%>)">
    Father
    <%= link_to "", categories_path(query: "Father"), class: "card-link" %>
  </div>

  <div class="card-category-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path("mother", height: 200, width: 200, crop: :fill)%>)">
    Mother
    <%= link_to "", categories_path(query: "Mother"), class: "card-link" %>
  </div>

  <div class="card-category-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path("brother", height: 200, width: 200, crop: :fill)%>)">
    Brother
    <%= link_to "", categories_path(query: "Brother"), class: "card-link" %>
  </div>

  <div class="card-category-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path("sister", height: 200, width: 200, crop: :fill)%>)">
    Sister
    <%= link_to "", categories_path(query: "Sister"), class: "card-link" %>
  </div>
</div>
