 <div class="h1-index-category">
  <h1>Services</h1>
</div>
<div class="cards-category-index">
  <% @categories.each do |category|  %>
  <div class="card-product">
    <%= cl_image_tag(category.photo.key, width: 300, height: 300, crop: :fill) %>
    <div class="card-product-infos">
      <h2><%= category.name  %></h2>
      <p><%= category.description %></p>
      <p>￥<%= category.price %></p>
      <div class="d-flex justify-content-end">
        <%= link_to category_path(category), id: "button-edit" do %>
          <i class="far fa-plus-square"></i>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>
