<div class="container-show">
  <% if current_user.photo.attached? %>
  <%= cl_image_tag current_user.photo.key %>
  <% else %>
  <% end %>
  <div class="card-product">
    <% if  @category.photo.attached? %>
      <%= cl_image_tag @category.photo.key, height: 300, width: 400, crop: :fill %>
    <% else %>
    <% end %>
  <div class="card-product-infos">
    <h2><%= @category.name  %></h2>
    <p><%= @category.description %></p>
    <p><%= @category.price %></p>
    <div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['pk.eyJ1Ijoic2hvMTAiLCJhIjoiY2s2YnF1cDB5MTRjbDNucWp1YXI2dWR2YyJ9.2kk83ZNl4Sae_0x8-5dc0g'
] %>">current_user.location</div>
  </div>
</div>

</div>


